<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <nav>
        <a href="/fruits/new">Add a New Fruit</a>
    </nav>
    <h1>Here are all the fruits</h1>
    <ul>
        <% for(let i = 0; i < fruits.length; i++) { %>
            <li>
                <a href="/fruits/<%= i %>">
                <%= fruits[i].name %>
                </a>
                <form action="/fruits/<%= i %>?_method=DELETE" method ="POST">
                    <input type="submit" value="Delete">
                </form>
                <a href="/fruits/<%= i %>/edit">Edit</a>
            </li>
       <% } %>
     </ul>
<%- include('./partials/footer') %>
</body>
</html>